@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;700&family=Kalam:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  *,
  *::before,
  *::after {
    scrollbar-gutter: stable;
    @apply box-border;
  }
  img {
    @apply bg-contain bg-top;
  }
  svg {
    @apply fill-current;
  }
}

@layer components {
  .page-title {
    @apply mb-5 font-condensed text-[116px] uppercase leading-none text-white;
  }
}

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }

  .outline-text {
    -webkit-text-stroke-width: 20px;
    -webkit-text-stroke-color: white;
    @apply text-black;
  }

  .transition-ease {
    @apply transition duration-300 ease-in-out;
  }
}
